/*titulos*/
h1{
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    margin-bottom: 10px;
    color: black;
}
h3{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
    color: black;
}
h2{
    text-align: center;
    font-size: 30px;
    font-weight: 150;
    margin-bottom: 20px;
}
p{
    text-align: justify;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 18px;
    line-height: 2;
}
.tith2-AT{
    text-align: center;
    font-size: 25px;
    font-weight: 150;
    margin-bottom: 20px;
    color: #654242;
}
.tith3-AT{
    text-align: justify;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
    color: #956565;
}
.tel-AT{
    text-align: justify;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 18px;
    line-height: 2;
    color: #3F180F;
}
.dos-colum2 .colum-dere a:hover {
    text-decoration: none;
}
.dos-colum2 .colum-dere a {
    color: #3F180F;
}

/*1col*/
.una-col{
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.parraf-i{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 20px;
    line-height: 2;
    color: gray;
}
.parraf-2{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 20px;
    line-height: 2;
    color: goldenrod;
}
.sub-1{
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 15px;
    color: gray;
}
.co__title{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 15px;
    color: black;
}
.co__txt{
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 15px;
    color: gray;
}

/*dos-colum*/
.dos-colum2{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}
.dos-colum2 .colum-izq{
    max-width: 50%;
    margin-left: 6%;
    margin-right: 6%;
}
.dos-colum2 .colum-dere{
    max-width: 50%;
    margin-left: 6%;
    margin-right: 6%;
}
.dos-colum2 .colum-izq li{
    text-align: justify;
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 10px;
}

/*tres colum*/
.container-colum3{
    margin: 20px 0;
    text-align: center;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
.co i{
  font-size: 2em;
  color: #333;
  padding: 20px 0;
}
.co{
    width: 33%;
}

/*cutro colum*/
.des-ec .colum-4{
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 5px;
}
.des-ec-img{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: auto;
    max-width: 350px;
    height: 250px;
    object-fit: cover;
}
.des-tit1 {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: brown;
}
.des-tit {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.des-des{
    text-align: center;
    font-size: 15px;
}
.colum25{
    width: 25%;
}
.container-flex {
    width: 100%;
    margin: auto;
    display: flex;
}

/*boton*/
.btn-bot{
    display: block;
    border: 4px solid #585858;
    padding: 10px;
    text-align: center;
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.btn-bot:hover{
    background: #585858;
    color: white;
}
.btn-bot2{
    display: block;
    border: 4px solid #683333;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    transition: all 0.5s;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.btn-bot2:hover{
    background: #683333;
    color: white;
}

/*pie*/
.footer{
    background: #000000;
    color:aliceblue;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 15px;
}
.footer a{
    color: aliceblue;
    text-decoration: none;
}
.footer .fab:before{
    position: relative;
    top: 2px;
    right: 5px;
}
.colum-fo{
    width: 33%;
    margin-left: 6%;
    margin-right: 6%;
}
.mmenu-footer{text-align: center;
    margin: 0;
}
.menu-footer li{
    display: inline-block;
}
.menu-footer {
    color: aliceblue;
    text-decoration: none;
    display: block;   
    font-family: "verdana";
    font-size: 15px;
    text-align: center;
}


/*copy*/
.copy{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color:aliceblue;
    font-size: 20px;
    background-color: black;
    margin-top: 30px;
}

/*sep*/
.sep {
    background-color: black;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 12px;
}